@media only screen and (min-width: 700px) {
    .medium-large-footer {
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    .box1{
        background-image:url(images/image-medium.jpg);
    }

    .container{
        flex-direction: row;
        /* flex-wrap: nowrap; */
    }

    .footer-image-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-title h3 {
        margin-top: 0;
        margin-left: 20px;
    }

    .container div:last-child {
        display: none;
    }

}   
    