
/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet"');
@import url('Cormorant+Garamond:wght@600&family=Lexend:wght@200&display=swap" rel="stylesheet');


body {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 17px;
    background: white;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Cormorant Garamond', serif; */
    background-image:linear-gradient(#394648, #909590);
}

.btn-area div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    align-items:center;
    color: white;
    font-style:bolder;
    margin-left: 2vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#directory-list, #directory-card {
    color: white;
    padding: 20px;
    font-size: 20px;
    display: block;
  
    
}

.page-title>h2{
    margin-bottom: -1rem;
}

.date-area {
    border: 1px solid rgba(0,0,0,0.1);
    background-image: linear-gradient(#96031A,#E63946);
    color: white;
}

p#headerdate {
    font-weight: bold;
    text-align: center;
    border: 1px solid #333;
    padding: 10px 5px;
    margin: 0;
}

#navBtn {
    margin: .2rem 5vw;
    padding: 1rem;
    width: 3rem;
    color: black;
    background-color: white;
}

nav {
    background-image:linear-gradient(#F3F9D2, white);;
    color: black;
    font-weight: bold;
}

nav ul {
    display: none;
    margin: 0;
    padding: 0;
    
}

nav ul.open {
    display: block;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,0.3);
    transition: all 0.5s ease-out;
}

nav ul li a:hover{
    background-color:#EA8C55;
    
}



.box {
    border: 1px solid rgb(8, 8, 8);
    margin: 1rem 2vw;
    padding: 1rem 2vw;
    box-shadow: 0 0 2px #333;
    background-image:linear-gradient(#F3F9D2, white);
}

.box1 {
    height: 40vh;
    background-size: cover;
    color: white;
    position: relative;
    padding:0;
    background-image: url(images/image-small.jpg);
}

.box1 h2 {
    /* background-color: lightgray;  */
    display: inline;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    position: absolute;
    left: 20px;
}

.box1 a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-color: #96031A;
    padding: 10px;
    border-radius: 10px;
    right: 5px;
    bottom: 10px;
    transition: all 0.2s ease-out;
    
}

.box1 a:hover {
    background-color: #96031A;
    text-shadow: #EA8C55;

}


.box .spotlight {
    border: 1px solid;
    padding: 10px;
    background-image:linear-gradient(#F3F9D2, white);

}

#temp{
    display:inline;
    width:50%;
}

.box2,
.box3,
.box4,
.box5,
.box6 {
    color: black;
    line-height: 1.5rem;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box h2{
  /* background-color: rgb(55, 202, 188); */
  padding: 15px;

}

.box5 a{
    display: none;
} 

.box3 {
    margin-left: 20vw;
    margin-right: 20vw;
}

.box6 {
    background-image:linear-gradient(#F3F9D2, white);
}

.business-picture img{
    width:100%;

}
.box6 .spotlight{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;

}


.business-picture img {
    width: 100%;
}

.logo>img,
footer div>img {
    max-width: 85px;
    box-shadow: 10px, 10px, 10px white;
}

.logo>img {
    margin-right: 10px;
    margin-top: 20px;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}

.weather-icon img{
    width: 10vw;
}

.business-picture {
    width: 50%;
    margin: 10px auto;
}
footer {
    background-image:linear-gradient(#394648, #909590);
    color: white;
    padding: 1rem 2vw;
    text-align: center;
}

.fa .fa-map-marker {
    width: 10%;
    padding: 0 2px;
}

footer .contact p.phone {
    margin-bottom: 0;
    padding-bottom: 0;
}
footer .contact a {
    text-decoration: none;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

footer .contact a:hover {
    text-decoration: underline;
    color: white;
}

.copyright {
    border-top: 1px solid white;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*DISCOVER*/

    .discover-main{
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap:wrap;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;


    }
    
    picture img{
        width:80%;
        height:300px;
        margin: 20 auto;
        padding: 30px;
        border-radius: 5px 100px;
        }

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9{
    width: 250px;
    margin: 35px; 
    background-image:linear-gradient(#F3F9D2, white);
    color: black;
    padding: 20px;
}


/* FORM*/

.form-area h1.form-header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    background-image:linear-gradient(#F3F9D2, white);
}

form {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
}

form fieldset {
    margin: 2rem 3%;
    border: 2px solid rgb(3, 13, 99);
    padding: 1rem 3%;
}

form legend {
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 0.5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color:rgb(3, 13, 99);
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}

form label.sbs {
    display: block;
    padding: .7rem 0;
    color:rgb(3, 13, 99);
}

form label.top input:required {
	border-bottom: red solid 3px;
}

form label.top input:required:valid {
	border-bottom: green solid 3px;
}

form label textarea {
    width: 100%;
    min-height: 100px;
}

form input.submitBtn {
    border: none;
	background-color: #96031A;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 100%;
	max-width: 20rem;
    transition: all 0.2s ease-out;
}

form input.submitBtn:hover {
    background-color: #EA8C55;
}

form div.levels {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    gap: 2px;
}

.np-level,
.bronze-level,
.silver-level,
.gold-level {
    border: 2px solid black;
    background-image:linear-gradient(#F3F9D2, white);
    color: black;
    margin: 3px;
    padding: 1rem;
    text-align: center;
}

/* Thank you */
  .welcome{
    text-align: center;
    font-size: 40px;
    border: 5px solid #4040a1;
    margin: 10px;
    
  }
/* Directory */
.directory-area {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;

}


.directory-header {
    text-align: center;
}

div.directory-btns {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;
}

div.directory-btns button {
    background-image:linear-gradient(#394648, #909590);
    border: none;
    margin-bottom: 15px;
    
}

div.directory-btns button:hover {
    box-shadow: white;
    border: none;
}

div.directory-btns button i {
    width: 100%;
}

div.list section {
    margin: 10px 10px;
    padding: 10px;
}

div.list section img {
    width: 100%;
    display: none;
}
div.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
div.cards section {
    margin: 10px 10px;
    padding: 10px;
    background-image:linear-gradient(#F3F9D2, white);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.cards section img {
    width: 80%;
    padding: 10px;
}

div.cards section p#business-name {
    display: none;
}

div.list section:nth-child(odd) {
    background-image:linear-gradient(#F3F9D2, white);
}

/* Contact us */

.person1,
.person2 ,
.person3 {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cards {
    display:grid;

}

.card-1{
    grid-column:1/2;
    margin: 10px;
    text-align: center;
}

.card-2{
    grid-column:2/3;
    margin: 10px;
    text-align: center;
}

.card-3{
    grid-column:3/4;
    margin: 10px;
    text-align: center;
}

form fieldset div p{
    background-image:linear-gradient(#F3F9D2, white);
    text-decoration: underline;
    padding: 5px 5px;
    width:65%;
    margin:auto;
    text-align: center;
}