.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 10px;

}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

