/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

main {
  background-color: white;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  color: #152733;
  /*   line-height: 3.5em; */
  letter-spacing: 0.1em;
  font-size: 1.5em;
}

#content{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 10px 10px 10px #999;
    border-radius: 25px;

}
.picture1{
    display:grid;
    grid-column:1 / 2;
    text-align: center;
    box-shadow: 10px 10px 10px #999;
}
.name{
    display:grid;
    grid-column: 2/4;
    text-align: left;

}

h1 {
  font-family: "Raleway", serif;
  font-size: 40px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em;
}


header {
  align-items: center;
  background-color: #1abc9c;
  border-radius: 25px;
}

footer {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px 10px #999;
    border-radius: 25px;
}


