@media only screen and (min-width: 460px) {
  
    .header{
        padding: 10px;
        text-align: center;
        background-color:darkslategray;
        color: white;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif, Helvetica;
}
}